/*modal*/
.darkBG {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100vw;
  height: 100vh;
  z-index: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

.modal {
  width: 80vw;
  height: 80vh;
  border-radius: 12px;
  background-color: #fff;
  color: #fff;
  z-index: 1000;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
  position: relative;
}

.modalHeader {
  border-radius: 12px;
  height: 50px;
  background: white;
  overflow: hidden;
}

.heading {
  margin: 0;
  padding: 10px;
  color: #000;
  font-weight: 600;
  font-size: 18px;
}

.heading-2 {
  margin: 0;
  color: #000;
  font-weight: 600;
  font-size: 18px;
}

.modalContent {
  padding: 10px;
  font-size: 14px;
  color: #000;
}

.modalActions {
  position: absolute;
  bottom: 2px;
  margin-bottom: 10px;
  width: 100%;
}

.actionsContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.stationsContainer {
  height: 55%;
  width: 99%;
  overflow-y: scroll;
  position: absolute;
  padding-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.station {
  border: 1px solid #e5e5e5;
  border-radius: 12px;
  padding: 10px;
}

.closeBtn {
  cursor: pointer;
  border-radius: 12px;
  font-weight: 500;
  padding: 4px 8px;
  border: none;
  font-size: 18px;
  background: white;
  transition: all 0.25s ease;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.06);
  position: absolute;
  right: 0;
  top: 0;
  align-self: flex-end;
}

.closeBtn:hover {
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
  transform: translate(-0px, -4px);
}

.deleteBtn {
  margin-top: 10px;
  cursor: pointer;
  font-weight: 500;
  padding: 11px 28px;
  border-radius: 12px;
  font-size: 0.8rem;
  border: none;
  color: #fff;
  background: #ff3e4e;
  transition: all 0.25s ease;
}

.deleteBtn:hover {
  box-shadow: 0 10px 20px -10px rgba(255, 62, 78, 0.6);
  transform: translateY(-5px);
  background: #ff3e4e;
}

.cancelBtn {
  margin-top: 10px;
  cursor: pointer;
  font-weight: 500;
  padding: 11px 28px;
  border-radius: 12px;
  font-size: 0.8rem;
  border: none;
  background: #fcfcfc;
  transition: all 0.25s ease;
}

.cancelBtn:hover {
  box-shadow: none;
  transform: none;
  background: whitesmoke;
}